﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
</div>

<div>
    @Html.ActionLink("Customer List", "Index", "Customers")
</div>
<div>
    @Html.ActionLink("Employee List", "Index", "Employees")
</div>
<div>
    @Html.ActionLink("Product List", "Index", "Products")
</div>
<div>
    @Html.ActionLink("Department List", "Index", "Departments")
</div>
<div>
    @Html.ActionLink("Transaction List", "Index", "Acc_Transaction")
</div>